[project]
	description = ajay's 1st commit
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ajayvarma
[access "refs/for/refs/*"]
	read = group user/ajayvarma
	push = group user/ajayvarma
	label-Code-Review = -2..+2 group user/ajayvarma
	label-Verified = -1..+1 group user/ajayvarma
	rebase = group user/ajayvarma
	removeReviewer = group user/ajayvarma
	submit = group user/ajayvarma
[access "refs/heads/*"]
	read = group user/ajayvarma
	create = group user/ajayvarma
	push = +force group user/ajayvarma
	pushMerge = group user/ajayvarma
[access "refs/tags/*"]
	push = +force group user/ajayvarma
	pushTag = group user/ajayvarma
	pushSignedTag = group user/ajayvarma
